<head>
  <script src="/js/delete.js"> </script>
  <script src="/js/edit.js"></script>
</head>
{{#if user}}
  {{#if user.isDataEntryClerk}}
    {{#if errMessage.delete}}
      <span class="form-error-msg">{{errMessage.delete}}</span>
    {{/if}}
    {{#if errMessage.edit}}
      <span class="form-error-msg">{{errMessage.edit}}</span>
    {{/if}}

    <section class="table-container">
      <table class="products-list-table">
        <tr class="products-list-item table-header">
          <th>Product Name</th>
          <th>Product Description</th>
          <th>Product Price</th>
          <th>Product Image</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
        {{#each data}}
          <tr class="products-list-item table-data">
            <td>{{ProductName}}</td>
            <td>{{ProductDesc}}</td>
            <td>{{ProductPrice}}</td>
            <td>
              <img src="/{{filename}}" width="200px" />
            </td>
            <td>
              <a
                href="#"
                {{!-- class="delete"
                data-product-id="{{_id}}" --}}
                onclick="event.preventDefault(); deleteProduct('{{_id}}')"
              >Delete</a>
            </td>
            <td>
              <a
                href="edit_product/{{_id}}"
                {{!-- onclick="//event.preventDefault(); editProduct('{{_id}}')" --}}
              >Edit</a>
            </td>
          </tr>
        {{/each}}
      </table>
    </section>
  {{/if}}
{{/if}}