{{#if data}}
  <div class="main-product">

    <img src="/images/{{data.filename}}" alt="{{data.ProductName}} photo" />
    <div class="main-product-content">

      <h1>
        {{data.ProductName}}
      </h1>
      <p class="main-product-price">{{data.ProductPrice}}</p>

      <p>{{data.ProductDesc}}</p>
      <form action="/api/cart/add-item-to-cart/{{_id}}" method="post">
        <input type="hidden" name="quantity" id="quantity" value="1" />
        <button type="submit">Add To Cart</button>
      </form>
    </div>
  </div>
{{/if}}