<section class="cart">
  <div class="cart-container">
    <div class="cart-header">
      <h3>Shopping Cart</h3>
    </div>
    <div class="cart-header remove-link">
      <h5><a href="/api/cart/empty-cart">Remove all</a></h5>
    </div>

    <div class="cart-table">
      {{#if products}}
        <table class="cart-list-table">
          <thead><tr class="cart-list-header table-header">
              <th></th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Total</th>
              <th></th>
            </tr></thead>
          <tbody>
            {{#each products}}
              <tr class="cart-list-item table-data">
                <td><img src="/images/{{filename}}" /></td>

                <td>{{ProductName}}</td>
                <td>

                  <a href="/api/cart/subtract-item-quantity/{{_id}}">
                    <i class="fa-solid fa-minus"></i>
                  </a>
                  {{quantity}}
                  <a href="/api/cart/add-item-quantity/{{_id}}">
                    <i class="fa-solid fa-plus"></i>
                  </a>

                </td>

                <td>{{total}}</td>
                <td><a href="/api/cart/remove-item/{{_id}}">Remove</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <div>No items in cart</div>

      {{/if}}
    </div>
    <div class="cart-summary">
      <p>Merchandise Subtotal</p>
      <p>{{subTotal}}</p>
      <p>Shipping and Handling</p>
      <p>TBD</p>
      <p>Estimated tax</p>
      <p>TBD</p>
      <p class="estimated-total">Estimated Total:</p>
      <p class="estimated-total">{{subTotal}}</p>
    </div>
    <div class="checkout-btn">
      <button><a href="#">Checkout</a></button>

    </div>

  </div>

</section>